Django>=4.2,<6.0
django-unfold
django-axes
python-dotenv
psycopg2-binary
cryptography
bleach
playwright
celery>=5.4,<6.0
redis>=5.0,<6.0
django-channels>=4.0,<5.0
daphne>=4.0,<5.0
kombu>=5.3,<6.0
billiard>=4.0,<5.0
asgiref>=3.6,<4.0
channels-redis>=4.0,<5.0
django-redis>=5.0,<8.0
